@use '../abstracts/variables' as vars;
@use '../abstracts/mixins' as mixins;

.for-institutions-page {
    .integration-section {
        padding-block: 110px;
        background: vars.$brand-lime;
    }

    .institution-contact {
        padding-block: 120px;
        background: vars.$brand-lime;
    }
}
